<!doctype html> 
<html> 
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" >
             
        <title>{{title}}</title> 
    </head> 
<body> 
    <nav>
        <ul id="user-account">
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/blogz">all posts</a></li>
            <li><a href="/add">new post</a></li>
        </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %} 
   
    {% endblock %}  
</body> 
</html>  
